*{
    font-family: 'Raleway', sans-serif;
    box-sizing:border-box;
    }
    #navigation a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;

}
a{
    text-decoration:none;
}
 hr{
    height:6px;
    background-color:#333;
 }