*{
    font-family: 'Raleway', sans-serif;
    box-sizing:border-box;
    }
    #navigation a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;

}
a{
    text-decoration:none;
}
 hr{
    height:4px;
    background-color:#333;
 }


 /*date picker*/

 [type="date"] 
 {
   background:url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
 }
 [type="date"]::-webkit-inner-spin-button 
 {
   display: none;
 }
 [type="date"]::-webkit-calendar-picker-indicator 
 {
   opacity: 0;
 }

/* custom styles */
 label 
 {
   display: block;
 }

 input.date
 {
   border: 1px solid #c4c4c4;
   border-radius: 5px;
   padding: 3px 5px;
   box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
   width: 190px;
 }


 /* The container */
.containers {
 display: block;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;
 font-size: 18px;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 border: black;
}

/* Hide the browser's default checkbox */
.containers input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
 position: absolute;
 top: 0;
 left: 0;
 height: 20px;
 width: 20px;
 background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.containers input:checked ~ .checkmark {
 background-color:white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
 content: "";
 position: absolute;
 display: none;
}

/* Show the checkmark when checked */
.containers input:checked ~ .checkmark:after {
 display: block;
}

/* Style the checkmark/indicator */
.containers .checkmark:after {
 left: 9px;
 top: 5px;
 width: 5px;
 height: 10px;
 border: solid black;
 border-width: 0 3px 3px 0;
 -webkit-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
}

img.main
{
      border:1px solid #ccc;
      padding: 5px;
      -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
      -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
      box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}