	body{
		padding-top: 150px;
	}
	#top_div{
		margin: 15px 10px 0px 35px;
	}
	#logo{
		margin-left: 10px;
	}

	.nav{
		float:right;
		padding-top: 0;
		display: inline;
	}
	input{ 
		border: none; 
		width: 120px;
	}
	h1{
		margin-left: 9.17%;	
		font-size: 42px;
	}
	h2{
		
		font-size: 30px;
		display: inline;

	}
	h3{
		font-weight: 550;
		margin-left: 9.17%;	
		font-size: 24px;

	}
	#small { 
		width: 15%;
		height: 5px;
	    display: block;
	    color: #343a40;    
	    margin-top: 0.5em;
	    margin-bottom: 0.5em;
	    margin-left: 9.17%;
		font-weight: bold;
	}
	span{
		float: right;
	}
	div{
		margin: 0px 0px 0px 0px;
		padding:0; 
	}
	#share{
		font-size: 25px;
	}
	p{
			margin: 5px 0;
			line-height: 2;
			color: #2E2E2E;	
			margin-left: 9.17%;
	}
	#details{
		font-family: "Georgia";
		font-size: 21px;
		color: #2E2E2E;
	}
	#nav > li{
		font-size: 14px;
		font-family: "Raleway";
		padding-top: 0;
		margin-top: 0;
		margin: 0 20px;
	}
	#login, #join{
		font-size: 14px;
		font-family: "Raleway";
		padding: 0 8px;
		margin-top: 0;
		float: right;	
	}
	#login{border-right: 1px solid #95989A; }
	#join{border-left: 1px solid #95989A; }
	#selected{
		border-bottom: 3px solid #165CC1;
		color: #007bff !important;
	}
	#lt{
		margin-right: 25px;
	}
	a{
		margin-top: 0;
		padding-top: 0;
		color: black;
	}
	.gallery{
		margin: 8px 6px;
	}
	#headings{
		width: 22%;
		margin-left: 6%;
		float : left;
		border-right: 1px solid black;
	}
	#details{
		padding:0 150px 0 30%;
	}
